@import '../../styles/variables.scss';

.home-page-container {
	.spiral-image {
		position: absolute;
		top: 40px;
		right: $spacing-2x;
		z-index: -1;
	}

	.subtitle {
		padding-right: 100px;
	}

	.book-a-chat-button-container {
		.book-a-chat-button {
			font-size: 18px;
			padding: 12px $spacing-3x 10px;
		}
	}

	




	@media (min-width: $breakpoint-md-down) {
		.spiral-image {
			right: 50px;
		}

		.subtitle {
			padding-right: 150px;
		}
	}
}