@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&display=swap');

.navbar {
    color: #000;
    padding: 10px;
    position: fixed;
    margin-bottom: 0;
    width: 100%;
    top: 0;
    z-index: 1000;
    font-family: "Coustard", serif;
    font-weight: 400;
    font-style: normal;  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo {
    font-size: 1rem;
  }
  
  .navbar-links {
    display: flex;
  }
  
  .navbar-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: block;
    font-size: 16px;
    border: none;
    background: none;
    color: #000;
    cursor: pointer;
  }
  
  .menu-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #FFA1A1;
    width: 100%;
  }
  
  .menu-dropdown a {
    padding: 10px;
    text-decoration: none;
    color: #000;
  }
  
  .navbar-links-desktop {
    display: flex;
    justify-content: space-between;
  }
  
  .navbar-links-desktop a {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
  }
  
  .navbar-buttons button {
    margin-left: 10px;
    border: none;
    background-color: #000;
    color: #eefce4;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  @media (max-width: 768px) {
    .navbar-links-desktop {
      display: none;
    }
    .navbar-links-mobile {
      display: block;
    }
    .navbar-buttons {
      display: none;
    }
  }
  