.navbar {
    background-color: #FFA1A1;
    color: #000;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0; /* Ensure the navbar stays at the top */
    z-index: 1000; /* Ensure the navbar is above other elements */
    font-family: 'Coustard', serif;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
  }
  
  .navbar-links {
    display: flex;
  }
  
  .navbar-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: block;
    font-size: 1.5rem;
    border: none;
    background: none;
    color: #000;
    cursor: pointer;
  }
  
  .menu-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #FFA1A1;
    width: 100%;
  }
  
  .menu-dropdown a {
    padding: 10px;
    text-decoration: none;
    color: #000;
  }
  
  .navbar-links-desktop {
    display: flex;
    justify-content: space-between;
  }
  
  .navbar-links-desktop a {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
  }
  
  .navbar-buttons button {
    margin-left: 10px;
    border: none;
    background-color: #000;
    color: #eefce4;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .navbar-links-desktop {
      display: none;
    }
    .navbar-links-mobile {
      display: block;
    }
    .navbar-buttons {
      display: none;
    }
  }
  