.carousel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;

  &:hover .carousel-inner {
    animation-play-state: paused;
  }
}

 h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  padding-left: 20px;
}
.carousel-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: calc(100% * 2);
  animation: scroll 15s linear infinite;
}

.carousel-item {
  min-width: 100px;
  margin: 0 20px;
  flex: 0 0 100px;
}

.carousel-item img {
  width: 100%;
  height: auto;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.duplicate {
  display: flex;
}